<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fh.springboot_shop.dao.AttrDao">
    <select id="queryCount" parameterType="com.fh.springboot_shop.model.vo.BrandParam" resultType="java.lang.Long">
        select count(*) from
            t_shop_attribute att  left join t_shop_type t on att.typeId = t.id
        where 1=1 and isDel=0
    </select>

    <select id="queryListParams" parameterType="com.fh.springboot_shop.model.vo.BrandParam" resultType="com.fh.springboot_shop.model.po.shop_Attribute">
       SELECT att.id,att.nameCH as name,t.`name` as typeName,att.isSKU,att.type
         from t_shop_attribute att LEFT JOIN t_shop_type t on att.typeId=t.id
         where 3=3 and isDel = 0
        limit ${size*(start-1)},#{size}
    </select>


    <insert id="addAttribute" parameterType="com.fh.springboot_shop.model.po.shop_Attribute">
        insert into t_shop_attribute (name,nameCH,typeId,type,isSKU,isDel,createDate,updateDate,author) value(#{name},#{nameCH},#{typeId},#{type},#{isSKU},#{isDel},sysdate(),sysdate(),#{author})
    </insert>

    <select id="queryAttrById" parameterType="java.lang.Integer" resultType="com.fh.springboot_shop.model.po.shop_Attribute">
        select * from t_shop_attribute where id=#{id}
    </select>

    <update id="updateAttr" parameterType="com.fh.springboot_shop.model.po.shop_Attribute" >
         update t_shop_attribute set name=#{name},nameCH=#{nameCH},typeId=#{typeId},type=#{type},isSKU=#{isSKU},isDel=#{isDel},updateDate=sysdate(),author=#{author} where id=#{id}
    </update>


    <delete id="delAttribute" parameterType="java.lang.Integer">
         update t_shop_attribute set isDel = 1 where id=#{id}
    </delete>


</mapper>