<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fh.springboot_shop.dao.attrValueDao">

    <select id="queryCount" parameterType="com.fh.springboot_shop.model.vo.BrandParam" resultType="java.lang.Long">
        select count(*) from
         t_shop_attrValue where 1=1 and isDel = 0 and attId= #{aid}
    </select>


    <select id="queryListParams" parameterType="com.fh.springboot_shop.model.vo.BrandParam" resultType="com.fh.springboot_shop.model.po.attrValue">
      select * from t_shop_attrValue
       where 1=1 and isDel=0 and attId = #{aid}
        limit ${size*(start-1)},#{size}
    </select>




    <insert id="addAttrValue" parameterType="com.fh.springboot_shop.model.po.attrValue">
          insert into t_shop_attrValue (name,nameCH,attId,isDel) value(#{name},#{nameCH},#{attId},#{isDel})
    </insert>

</mapper>